<div class="w-full h-full min-h-screen bg-[#353734]">
  <div class="flex flex-col min-lg:mx-40 bg-[#DDBD9C] rounded-2xl shadow-xl p-10">
    <div class="flex justify-center mt-6 mb-10">
      <p class="text-5xl max-lg:text-3xl max-md:text-xl font-bold text-[#514F4D] drop-shadow-md">
        MY ACADEMY QUEST
      </p>
    </div>
    <div class="flex justify-center mb-10">
      <%= image_tag "profile_img.jpeg", class: "w-60 h-60 object-cover rounded-full border-4 border-[#514F4D] shadow-lg"%>
    </div>
    <div class="flex justify-center mb-10">
      <p class="text-2xl max-lg:text-xl font-bold text-[#514F4D] drop-shadow-md">
        Nawamin Wongpakham (Dew)
      </p>
    </div>
    <div class="flex justify-center mb-10 max-md:flex-col max-md:items-center-safe">
      <%= link_to profile_path,data: { testid: "my-brag-doc-btn" }, class: "px-4 py-2 bg-[#3D4140] w-fit text-white rounded-lg hover:bg-[#353734] transition shadow-md" do %>
        <div class="flex justify-center">
          <p>My brag doccument</p>
        </div>
      <% end %>
      <div class="flex min-md:ml-10 max-md:mt-4">
        <%= link_to "https://github.com/Augustarr", target: "_blank", rel: "noopener", class: "flex items-center" do %>
          <%= image_tag "github-142-svgrepo-com.svg", class: "w-6 h-6 my-1"%>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/nawamin-wongpakham-33492435b", target: "_blank", rel: "noopener", class: "flex items-center" do %>
          <%= image_tag "linkedin-rounded-svgrepo-com.svg", class: "w-6 h-6 my-1 ml-4"%>
        <% end %>
        <%= link_to "https://www.facebook.com/nawamin.wongpakham.2024", target: "_blank", rel: "noopener", class: "flex items-center" do %>
          <%= image_tag "facebook-svgrepo-com.svg", class: "w-7 h-7 ml-4"%>
        <% end %>
      </div>
    </div>
    <div class="flex justify-center mb-8">
      <turbo-frame id="new_todo" class="w-full max-w-2xl">
        <%= render "form", todo: Todo.new %>
      </turbo-frame>
    </div>
    <div class="flex justify-center">
      <div class="w-full max-w-2xl">
        <%= turbo_stream_from "todos" %>
        <ul id="todos-list" class="space-y-4">
          <%= render @todos %>
        </ul>
      </div>
    </div>
  </div>
</div>
